.aboutcard
{
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-bottom: 30px; 
}

.aboutcard .aboutcardtitle
{
    font-weight: bold;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 20px 20px 0 0;
    font-size: 1.2rem; 
}

.aboutcard .aboutcardcontent
{
    background-color: #feff99;
    padding: 15px; 
    border-radius: 0 0 20px 20px;
    text-align: justify;
    font-size: 1.2rem; 
}

.contactcard
{
    border: 1px solid #ccc;
    border-radius: 20px ;
    margin-bottom: 10px;
}

.contactcard .contactcardtitle
{
    font-weight: bold;
    background-color: #B6D7E4;
    padding: 10px;
    border-radius: 20px 20px 0 0;
}

.contactcard .contactcardcontent
{
    background-color: #F1F8FE;
    padding: 10px;
    border-radius: 0 0 20px 20px;
    text-align: justify;
    font-size: 1.2rem; 
}
.content a
{
    font-weight: bold;
    color: black;
}

.primaryeditors
{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
    font-size: 1.2rem; 
}

.primaryeditors table
{
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-spacing: 10px;
}

.primaryeditors td
{
    border: 1px solid #ccc;
    width: 25%;
    padding: 0;
    text-align: center;
    background-color: #F1F8FE;
    border-radius: 20px 20px 20px 20px;
}
.primaryeditors img
{
    width: 50%;
    padding: 0;
    margin: auto;
    display: block;
}
.primaryeditors .name {
    background-color: #B6D7E4;
    width: 100%;
    display: block;
}

