.header-container {
    max-width: 100%;
    padding-right: 15px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto 2fr;
}

.image-container {
    justify-self: start;
    align-self: center;
}

.text-container {
    justify-self: center;
    align-self: center;
    margin-right: 120px;
}


